    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About me</h2>
                <p>I'm an iOS developer based in Paris.</p>
                <p>I have graduated with a Software Engineering master degree from <a href="http://www.upmc.fr/fr/formations/diplomes/sciences_et_technologies2/masters2/mention_de_master_sciences_de_l_ingenieur/specialite_de_master_informatique_industrielle_image_et_signal_m2.html">Pierre et Marie Curie University</a> in 2012. I have started developing on iOS in 2014 by following a great <a href="https://www.france-universite-numerique-mooc.fr/">MOOC</a> and I've been an addict since...</p>
                <p>I use open source tools on my daily work and I contribute back to the community. In the following portfolio you will find several projects I've worked on.</p>
            </div>
        </div>
    </section>
